html, body {
    height: 100%;
}


.tabs {
    /*color: red;*/
}

#doc-spec {
    height: 90%;
    position: relative;
}

.doc-spec-new {
}

.doc-spec-entry {
}

.doc-spec-entry-info {
}

.doc-spec-entry-photos {
}

.doc-spec-entry-photo {
    height: 100px;
    width: 100px;
}

.doc-spec-entry-notes {
}


