html, body {
    height: 100%;
}


/*    Tabs    */
.tabs, .tab a {
    color: #689f38 !important;
}
.disabled a{
    color: #c5e1a5 !important;
}

.indicator {
    background-color: #689f38 !important;
}


/*    Specimens tab    */
#spec {
    height: 90%;
    position: relative;
}

.spec-new {
}

.spec-entry {
}

.spec-entry-info {
}

.spec-entry-photos {
}

.spec-entry-photo {
    height: 100px;
    width: 100px;
    padding: 6px;
}

.spec-entry-notes {
}


