html, body {
    height: 100%;
}

h5 {
    text-transform: uppercase !important;
    letter-spacing: .8px !important; 
    color: #689f38 !important;
    font-weight: 300 !important;
}

/*    Tabs    */
.tabs, .tab a {
    color: #689f38 !important;
}
.disabled a{
    color: #c5e1a5 !important;
}

.indicator {
    background-color: #689f38 !important;
}


/*    Specimens tab    */

.doc-new-spec {
    
}

.collapsible-header {
    border-bottom: 0px !important;
}

#spec {
    height: 90%;
    position: relative;
}

.spec-new {
}

.spec-entry {
}

.spec-entry-subtitle {
    
}

.spec-entry-info {
}

.spec-entry-photos {
    display: inline;
}

.material-placeholder {
    display: inline;
}

.spec-entry-photo {
    display: inline !important;
    height: 100px;
    width: 100px;
    padding: 6px;
}

.spec-entry-photo-big {
    display: inline !important;
    height: 300px;
    width: 300px;
    padding: 6px;
}
.spec-entry-notes {
}


